@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CollegeRoad, Belgaum<br />
    <abbr title="Phone">P:</abbr>
    0831-2446655
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@test.com">Support@test.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@test.com">Marketing@test.com</a>
</address>
